<div class="info">
  <ul>
      <li>Click on 'Add an Employee' to add a new employee to the database.</li>
      <li>Click on 'List of Employees' to see the full list of employees.</li>
      <li>Click on the image above the employee's name to see the details about that employee.</li>
      <li> When on Details page, click 'Edit' button to edit the employee or to delete the employee from the database.</li>
   </ul>
   <div id="small">Made by Iva Majić, 2018</div>
  
</div>