.info {
    display: inline-block;
    font-size: 20px;
    text-align: left;
    padding: 25px;
    color: #042917;
}

li {
    padding-bottom: 20px;
}

#small {
    font-size: 15px;
    color: #1c724a;
    text-align: right;
    margin-top: 50px;
}