img {
    width:150px;
    height:150px;
}

td {
    padding:30px;
}

h2 {
    color: #042917;
}

.img-link {
    margin-bottom: 10px;
}

.img-link:hover {
    opacity: 0.8;
}

@media
only screen and (max-width: 1070px)  {
    table, tbody, th, td, tr {
        display:block;
    }

    .img-link {
        width: 250px !important ;
        height: 250px!important ;
    }

    body {
        font-size: 20px;
    }

}
