<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h2>Employees:</h2>
  <div id="employees-table">
    <table>
      <tr *ngFor="let row of rows">
        <td *ngFor="let employee of employees|slice:row*5:row*5+5">
          <a routerLink="/details/{{employee.id}}">
            <img class="img-link" src={{employee.picture}}><br>
          </a>
            {{employee.firstname}} {{employee.lastname|uppercase}}  
        </td>
      </tr>
    </table>
  </div>
  </body>
</html>