<!DOCTYPE html>
<html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      
      </head>

      <body>
        <h1>{{ title }}</h1>
        
        <span><nav id="nav">
          <button routerLink="/employees" >List of Employees</button>
          <button routerLink="/add-new" >Add an Employee</button>
          <button routerLink="/search" >Search</button>
          <button routerLink="/info" >Info</button>
          <button id="logout" routerLink="/home" (click)="hideNav()">Log Out<span id="arrow">   &#11184;</span></button>
        </nav>
        
      </span>
        
        <router-outlet></router-outlet>
      </body>
  </html>
