<h2>Add an Employee:</h2>

<table>
  <tr>
    <td>
      First name:
    </td>
    <td>
      <input #firstName>
    </td>
  </tr>

  <tr>
    <td>
      Last name:
    </td>
    <td>
      <input #lastName>
    </td>
  </tr>

  <tr>
    <td>
      Picture URL:
    </td>
    <td>
      <input #picURL>
    </td>
  </tr>

  <tr>
    <td>
      Position:
    </td>
    <td>
      <input #position>
    </td>
  </tr>
</table>

  <button (click)="addEmployee(firstName.value, lastName.value, picURL.value, position.value); firstName.value=''; lastName.value='';picURL.value=''; position.value=''">Add</button>

