* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #cfe9dd;
    font-family: 'Lato', 'sans-serif';
    text-align: center;
}

h1 {
    color: #1c724a;
    font-size: 40px;
    margin: 20px, auto;
    padding: 30px 30px;
}

nav {
    display: none;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #1c724a;
}

button {    
    padding: 7px 20px;
    border-style: none;
    font-size: 15px;
    border-radius: 15px;
    background-color: #1c724a;
    color: #fff;
    margin: 5px;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

img {
    border-radius: 50%;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: #042917;
    font-weight: bold;
}

input {
    border-radius: 10px;
    border-color: #1c724a;
    border-style: solid;
    padding: 3px;
}

td {
    padding-top: 5px;
    padding-right: 5px;
}

#arrow {
    font-size: 20px;
    color: #fff;
}
