<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div><button id="nSearch" (click)="nameSearchInit()">Search by Last Name</button></div>

  <div id="nSearchField">
    <h2>Search by Last Name:</h2>
    <input #nSearchBox class="input-search" id="nSearchBox" (keyup)="nameSearch(nSearchBox.value)" placeholder="Last Name">
    <ul class="search-result">
      <li *ngFor="let employee of employees$ |async">
        <a routerLink="/details/{{employee.id}}">{{employee.firstname}} {{employee.lastname}} </a>
      </li>
    </ul>
  </div>

  <div><button id="pSearch" (click)="positionSearchInit()">Search by Position</button></div>

  <div id="pSearchField">
    <h2>Search by Position:</h2>
    <input #pSearchBox class="input-search" id="pSearchBox" (keyup)="positionSearch(pSearchBox.value)" placeholder="Position">
    <ul class="search-result">
      <li *ngFor="let employee of employees$ |async">
        <a routerLink="/details/{{employee.id}}">{{employee.firstname}} {{employee.lastname}} </a>
      </li>
    </ul>
  </div>

  <div><button id="idSearch" (click)="idSearchInit()">Search by ID</button></div>

  <div id="idSearchField">
      <h2>Search by ID:</h2>
      <input #idSearchBox class="input-search" id="idSearchBox" (keyup)="idSearch(idSearchBox.value)" placeholder="ID">
      <ul class="search-result">
        <li *ngFor="let employee of employees$ |async">
          <a routerLink="/details/{{employee.id}}">{{employee.firstname}} {{employee.lastname}} </a>
        </li>
      </ul>
    </div> 

</body>
</html>
