button {
    padding: 20px;
    width: 300px;
    font-size: 18px;    
    margin-top: 15px;
}

#nSearchField, #pSearchField, #idSearchField {
    display: none;
}

h2 {    
    margin-top: 20px;
    margin-bottom: 10px;
    color: #042917;
}

.input-search {
    width: 285px;
    font-size:18px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.search-result li{
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #042917;
    background-color: #c4d1cb;
    padding:5px;
    list-style-type: none;
    color: #042917;
}

.search-result li a {
    color: #042917;
    text-decoration: none;
}
.search-result li:hover {
    opacity: 0.8;    
}
