<div *ngIf="showMe">
 
  <table>
    <tr>
      <td>
        First name:
      </td>
      <td>
        <input [(ngModel)]="employee.firstname" placeholder="First name">
      </td>
    </tr>

    <tr>
      <td>
        Last name:
      </td>
      <td>
        <input [(ngModel)]="employee.lastname" placeholder="Last name">
      </td>
    </tr>

    <tr>
      <td>
        Position:
      </td>
      <td>
        <input [(ngModel)]="employee.position" placeholder="Position">
      </td>
    </tr>

    <tr>
      <td>
        Picture URL:
      </td>
      <td>
        <input [(ngModel)]="employee.picture" placeholder="Picture URL">
      </td>
    </tr>  
  </table>
  <div>
    <button (click)="saveChanges()">Save</button>
    <button (click)="deleteEmployee(employee)">Delete the Employee</button>
  </div>
</div>