<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <h2>Mockup Login Page</h2>

    <div><input type="text" placeholder="Username"></div>
    <div><input type="password" placeholder="Password"></div>
    <div><button (click)="showNav()" routerLink="/employees">Log in</button></div>
    
</body>
</html>
