button {
    padding: 15px;
    border-radius: 15px;
    border-style: solid;
    font-size: 20px;
    background-color: #1c724a;
    color: #fff;
    margin-top: 15px;
}

input {
    width: 285px;
    font-size:18px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 7px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #042917;
}