<div *ngIf="employee">
  <img src={{employee.picture}}><br>
  <h2>{{employee.firstname}} {{employee.lastname}}</h2>
  <h3>#{{employee.id}}</h3>
  <h4>{{employee.position}}</h4>
</div>

<button (click)="toggleEdit(employee)">{{bText}}</button>
<button (click)="goBack()">Go Back</button>
<div><app-employee-edit [showMe]="showVar" [employee]="employee"></app-employee-edit></div>