body {
    color: #042917;
}

img {
    width: 300px;
    height:300px;
}

h2 {
    margin-bottom: 3px;    
}
h4 {
    color: #1c724a;
    font-style: italic;
    margin-top: 3px;
    margin-bottom: 3px;
}
